name: cargo build

on:
  push:
    branches: [ core ]
  pull_request:
    branches: [ core ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: snickerbockers/submodules-init@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
